..docsify-pagination-container,
h2 {
  border: none !important;
}

/* Aumentar largura apenas quando o sidebar está visível */
.sidebar:not(.hidden) {
  width: 320px !important;
}

.sidebar:not(.hidden) + .content {
  left: 320px !important;
}
